* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables */
:root {
    --BODYBGCOLOR: hsl(212, 45%, 89%);
    --ARTBGCOLOR: hsl(0, 0%, 100%);
    --TITLETXTCOLOR: hsl(218, 44%, 22%);
    --SUBTITLETXTCOLOR: hsl(216, 15%, 48%);
}


/*Main Code*/

body {
    font-family: Arial, Helvetica, sans-serif; /*Change*/
    font-size: 15px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto min-content;
    grid-template-areas:
    "mn mn mn"
    "mn mn mn"
    "ft ft ft"
    ;

    background-color: var(--BODYBGCOLOR);
}

main {
    grid-area: mn;
    display: grid;
    justify-content: center;
    align-content: center;
}

footer {
    grid-area: ft;
}

article {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--ARTBGCOLOR);
    padding: 16px;
    border-radius: 20px;
}

#imagebox img {
    border-radius: 10px;
}

#textbox {
    width: 288px;
    height: 131px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 24px 0px;
    text-align: center;
}

#textbox-title {
    color: var(--TITLETXTCOLOR);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

#textbox-subtitle {
    color: var(--SUBTITLETXTCOLOR);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}